# compilation and distribution
__pycache__
_ext
*.pyc
*.so
*.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.npz
*.pt
*.out
*.zip

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
.DS_Store
.vscode
.flake

# Pycharm editor settings
.idea

work_dir

data/nturgbd_raw
data/NW-UCLA
data/ntu/denoised_data
data/ntu/raw_data
data/ntu/statistics
data/ntu120/denoised_data
data/ntu120/raw_data
data/ntu120/statistics
data/table_tennis/bhpull_*
data/table_tennis/fhpull_*
data/table_tennis/bhc_*
data/table_tennis/bhpush_*
data/table_tennis/bht_*
data/table_tennis/fhc_*
data/table_tennis/fhpush_*
data/table_tennis/fhs_*
data/table_tennis_2D/bhpull_*
data/table_tennis_2D/fhpull_*
data/table_tennis_2D/bhc_*
data/table_tennis_2D/bhpush_*
data/table_tennis_2D/bht_*
data/table_tennis_2D/fhc_*
data/table_tennis_2D/fhpush_*
data/table_tennis_2D/fhs_*
